<div class="ui horizontal divider" {{#if title}}id="{{parameterize title}}"{{/if}}>
  {{title}}
</div>

<div class="ui header center aligned">
  <div class="ui header">
    <div class="sub header">
      {{{markdownize description}}}
    </div>
  </div>
</div>

{{#each resources}}
  <div class="ui stacked segments">
    <div class="ui basic segment resource">
      <div class="ui purple huge ribbon label">
        {{#if title}}{{title}}{{else}}{{href}}{{/if}}
      </div>
      <div class="ui header">
        <div class="ui sub header">
          {{{markdownize description}}}
        </div>
      </div>
    </div>

    {{#each transitions}}
      <div class="ui grey horizontal small divider header">
        <i class="ui grey micro circular label"></i>
        <i class="ui pink micro circular label"></i>
        <i class="ui grey micro circular label"></i>
      </div>
      <div class="ui basic segment">
        <h3 class="ui block center aligned header" id="{{parameterize nestedTitle}}">
          {{#if title}}{{title}}{{else}}{{method}}{{/if}}
        </h3>
        <div class="description">{{{markdownize description}}}</div>

        {{#each transactions}}
          <h4 class="ui horizontal divider">
            REQUEST{{#if request.title}} {{request.title}}{{/if}}
          </h4>
          <div class="description">{{{markdownize request.description}}}</div>
          <div class="fluid ui large labeled button">
            <div class="ui {{colorize request.method}} large button">
              <h3>{{request.method}}</h3>
            </div>
            <a class="ui basic fluid request-url {{colorize request.method}} label">
              <code>{{../../../metadata.host}}{{request.href}}</code>
            </a>
          </div>

          {{#if ../hrefVariables}}
            <table class="ui celled definition table">
              <thead>
                <tr>
                  <th colspan="4">Parameters</th>
                </tr>
              <thead>
              <tbody>
                {{#with ../hrefVariables}}
                  {{> parameters}}
                {{/with}}

                {{#with ../../hrefVariables}}
                  {{> parameters}}
                {{/with}}
              </tbody>
            </table>
          {{/if}}

          {{#with request.headers}}{{> headers}}{{/with}}

          {{#if request.messageBody}}
            <div class="ui stacked segment">
              <div class="ui fluid transaction accordion">
                <div class="title">
                  <code>{{request.contentType}}</code>
                </div>
                <div class="content tabbed">
                  <div class="ui top attached tabular menu">
                    <a data-tab="body" class="active item">BODY</a>
                    <a data-tab="schema" class="item">SCHEMA</a>
                  </div>
                  <div class="ui bottom attached active tab segment" data-tab="body">
                    <pre style="white-space: inherit">
                      <code class="language-{{alias request.contentType}}">{{request.messageBody}}</code>
                    </pre>
                  </div>
                  <div class="ui bottom attached tab segment" data-tab="schema">
                    <pre style="white-space: inherit">
                      <code class="language-json">{{request.messageBodySchema}}</code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          <h4 class="ui horizontal divider">RESPONSE</h4>
          <div class="description">{{{markdownize response.description}}}</div>

          {{#with response.headers}}{{> headers}}{{/with}}

          <div class="ui stacked {{colorize response.statusCode}} segment">
            <div class="ui fluid transaction accordion">
              <div class="title center aligned">
                <a class="ui {{colorize response.statusCode}} circular label">
                  {{response.statusCode}}
                </a>
                <code>{{response.contentType}}</code>
              </div>
              <div class="content tabbed">
                <div class="ui top attached tabular menu">
                  <a data-tab="body" class="active item">BODY</a>
                  <a data-tab="schema" class="item">SCHEMA</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="body">
                  <pre style="white-space: inherit">
                    <code class="language-{{alias response.contentType}}">{{response.messageBody}}</code>
                  </pre>
                </div>
                <div class="ui bottom attached tab segment" data-tab="schema">
                  <pre style="white-space: inherit">
                    <code class="language-json">{{response.messageBodySchema}}</code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/each}}

{{#* inline "headers"}}
<table class="ui celled definition table">
  <thead>
    <tr>
      <th colspan="2">Headers</th>
    </tr>
  </thead>
  <tbody>
  {{#each .}}
    <tr>
      <td class="four wide">{{key}}</td>
      <td><code>{{value}}</code></td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/inline}}

{{#* inline "parameters"}}
  {{#each .}}
    <tr>
      <td class="center aligned one wide">
        <i class="ui empty circular label {{#if required}}black{{else}}grey{{/if}}" data-content="{{#if required}}required{{else}}optional{{/if}}" data-position="top center"></i>
      </td>
      <td><code>{{key}}</code></td>
      <td class="center aligned">
        <code>{{title}}</code>
        {{#if value}}<code class="ui label">{{value}}</code>{{/if}}
        {{#if default}}<div class="ui violet image label">Default<div class="detail">{{default}}</div></div>{{/if}}
      </td>
      <td class="eight wide">
        {{#if description}}{{{markdownize description}}}{{else}}-{{/if}}
      </td>
    </tr>
  {{/each}}
{{/inline}}
